# on:
#   push:
#     branches:
#       - main
#   workflow_dispatch:
# name: release
# jobs:
#   release:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: google-github-actions/release-please-action@v2
#         id: release-please
#         with:
#           command: manifest
#           token: ${{secrets.GITHUB_TOKEN}}
#           default-branch: main
#       # The logic below handles the npm publication:
#       - name: Checkout
#         uses: actions/checkout@v2
#         # these if statements ensure that a publication only occurs when
#         # a new release is created:
#         if: ${{ steps.release.outputs.release_created }}

#       - name: Setup
#         uses: actions/setup-node@v2
#         with:
#           node-version: 16
#           registry-url: https://registry.npmjs.org/
#         if: ${{ steps.release.outputs.release_created }}

#       - uses: pnpm/action-setup@v2.0.1
#         name: Install pnpm
#         id: pnpm-install
#         with:
#           version: 7
#           run_install: false
#         if: ${{ steps.release.outputs.release_created }}

#       - name: Get pnpm store directory
#         id: pnpm-cache
#         run: |
#           echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"
#         if: ${{ steps.release.outputs.release_created }}

#       - uses: actions/cache@v3
#         name: Setup pnpm cache
#         with:
#           path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
#           key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
#           restore-keys: |
#             ${{ runner.os }}-pnpm-store-
#         if: ${{ steps.release.outputs.release_created }}

#       - name: Install pnpm
#         uses: pnpm/action-setup@v2.0.1
#         id: pnpm-install
#         with:
#           version: 7
#           run_install: false

#       - name: Get pnpm store directory
#         id: pnpm-cache
#         run: |
#           echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"

#       - name: Setup pnpm cache
#         uses: actions/cache@v3
#         with:
#           path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
#           key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
#           restore-keys: |
#             ${{ runner.os }}-pnpm-store-

#       - name: Install dependencies
#         run: pnpm install

#       - name: Publish
#         if: ${{ steps.release.outputs.release_created }}
#         env:
#           NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
#         run: |
#           pnpm -r publish --access=public
